{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"commonjs": true
	},
	"globals": {
		"THREE": true,
		"altspace": true,
		"AFRAME": true,
		"Promise": true
	},
	"rules": {
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"no-console": 0
	}
}
