<html>
<head>
	<title>SDK Poster</title>
	<script src="https://aframe.io/releases/0.3.0/aframe.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
	<script src="https://cdn.rawgit.com/ngokevin/kframe/9a5876b2/components/template/dist/aframe-template-component.min.js"></script>
	<script src="../../../dist/altspace.min.js"></script>
	<script>
		AFRAME.registerComponent('circle-layout', {
			schema: {
				radius: {default: 1, min: 0}
			},
			init: function () {
				var children = this.el.getChildEntities();
				for (var i = 0; i < children.length; i++) {
					var childEl = children[i];
					var radians = i * (2 * Math.PI) / children.length;
					childEl.setAttribute('position', {
						x: this.data.radius * Math.cos(radians),
						y: 0,
						z: this.data.radius * Math.sin(radians)
					});
				}
			}
		});
	</script>
</head>
<body>
<a-scene altspace="fullspace: true">
	<a-assets>
		<script id='array' type='text/x-nunjucks-template'>
			{% for x in range(0, -width, -4) %}
				{% for y in range(0, height, 4) %}
					{% for z in range(0, depth, 4) %}
						<a-entity position='{{x}} {{y}} {{z}}' n-object='res: {{model}}'></a-entity>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</script>
		<a-mixin id='teleporter-label' position='0 3 0'
			n-billboard n-text='font-size: 4; width: 4; height: 0.5'>
		</a-mixin>
	</a-assets>

	<!-- poster dais -->
	<a-entity position='0 0.25 -6'>
		<a-entity position='0 1.8 0' rotation='0 180 0' scale='5 5 5'
			n-layout-browser='url: https://rawgit.com/AltspaceVR/AltspaceSDK/feature/svvr-poster/examples/aframe/svvr/poster.html; is3d: true'>
		</a-entity>

		<a-entity position='4 0 0' n-object='res: architecture/floor-slice-concave-4r'></a-entity>
		<a-entity position='0 0 -4' rotation='0 90 0' n-object='res: architecture/floor-slice-concave-4r'></a-entity>
		<a-entity position='-4 0 0' rotation='0 180 0' n-object='res: architecture/floor-slice-concave-4r'></a-entity>
		<a-entity position='0 0 4' rotation='0 270 0' n-object='res: architecture/floor-slice-concave-4r'></a-entity>
	</a-entity>

	<!-- floor -->
	<a-entity position='8 0 -6' template='src: #array; insert: beforeend'
		data-model='architecture/floor-4w-4l' data-width=16 data-depth=28 data-height=1>
	</a-entity>

	<!-- railings -->
	<a-entity position='8 0 -6' template='src: #array; insert: beforeend'
		data-model='architecture/railing-4l' data-width=1 data-height=1 data-depth=28>
	</a-entity>
	<a-entity position='-8 0 22' rotation='0 180 0' template='src: #array; insert: beforeend'
		data-model='architecture/railing-4l' data-width=1 data-height=1 data-depth=28>
	</a-entity>
	<a-entity position='8 0 22' rotation='0 270 0' template='src: #array; insert: beforeend'
		data-model='architecture/railing-4l' data-width=1 data-height=1 data-depth=16>
	</a-entity>
	<a-entity position='-8 0 -6' rotation='0 90 0' n-object='res: architecture/railing-4l'>
	</a-entity>
	<a-entity position='0 0.25 -10' rotation='0 90 0' n-object='res: architecture/wall-base-curve-concave-4r'>
	</a-entity>
	<a-entity position='-4 0.25 -6' rotation='0 180 0' n-object='res: architecture/wall-base-curve-concave-4r'>
	</a-entity>
	<a-entity position='4 0 -6' rotation='0 90 0' n-object='res: architecture/railing-4l'>
	</a-entity>

	<!-- teleporters -->
	<a-entity position='-7 0 -2' rotation='0 90 0'
		n-portal='target-space: event-643621802479714914'>
		<a-entity mixin='teleporter-label' n-text='text: Crystal Cave'></a-entity>
	</a-entity>
	<a-entity position='-7 0 2' rotation='0 90 0'
		n-portal='target-space: the-grid-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Air Rush'></a-entity>
	</a-entity>
	<a-entity position='-7 0 6' rotation='0 90 0'
		n-portal='target-space: event-643632276839596314'>
		<a-entity mixin='teleporter-label' n-text='text: Planetarium'></a-entity>
	</a-entity>
	<a-entity position='-7 0 10' rotation='0 90 0'
		n-portal='target-space: sculptogether-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: SculpTogether'></a-entity>
	</a-entity>
	<a-entity position='-7 0 14' rotation='0 90 0'
		n-portal='target-space: sdk-playground-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: SDK Playground'></a-entity>
	</a-entity>
	<a-entity position='-7 0 18' rotation='0 90 0'
		n-portal='target-space: paint-studio-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Paint Studio'></a-entity>
	</a-entity>
	<a-entity position='7 0 -2' rotation='0 270 0'
		n-portal='target-space: air-rush-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Space Bar'></a-entity>
	</a-entity>
	<a-entity position='7 0 2' rotation='0 270 0'
		n-portal='target-space: space-bar-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Dress Up'></a-entity>
	</a-entity>
	<a-entity position='7 0 6' rotation='0 270 0'
		n-portal='target-space: beatlab-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: BeatLab'></a-entity>
	</a-entity>
	<a-entity position='7 0 10' rotation='0 270 0'
		n-portal='target-space: piano-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Piano'></a-entity>
	</a-entity>
	<a-entity position='7 0 14' rotation='0 270 0'
		n-portal='target-space: molecule-viewer-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Molecule Viewer'></a-entity>
	</a-entity>
	<a-entity position='7 0 18' rotation='0 270 0'
		n-portal='target-space: duck-crossing-svvr-2017'>
		<a-entity mixin='teleporter-label' n-text='text: Duck Crossing'></a-entity>
	</a-entity>

</a-scene>
</body>
</html>
